@import "tailwindcss";
@import "./components/sections.css";

@theme {
  --font-sans: "Satoshi", sans-serif;
  --font-heading: "DM Sans", sans-serif;
  --font-quicksand: "Quicksand", sans-serif;
  --font-amiri: "Amiri Quran", serif;
  --color-neutral-900: rgb(23, 23, 23);
  --background-image-hero-pattern:
    radial-gradient(ellipse at 55% 60%, rgba(255, 255, 255, 0.25) 4%, transparent 60%),
    radial-gradient(ellipse at 55% 40%, rgba(101, 22, 161, 0.19) 0%, transparent 50%);
  --animate-reveal: rev 1.2s ease forwards;

  @keyframes rev {
    from {
      opacity: 0;
      transform: translateY(70px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@layer base {
  h1,
  h2,
  h3 {
    font-family: var(--font-heading);
  }

  body,
  p,
  a,
  span {
    font-family: var(--font-sans);
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: rgb(23, 23, 23);
    overflow-x: hidden;
  }
}
